<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
<meta  charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>First Glass Windows LTD.</title> 

<!-- Favicons -->
<link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
<link rel="manifest" href="favicon/site.webmanifest">
<link rel="mask-icon" href="favicon/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">
<style>

    img.Logo{
      width: 160px;
      height: 80px;
    }
  @media screen and (max-width:600px)
  {
    img.Logo{
      width: 80px;
      height: 40px;
    }
 .showcase-item-hover.hover-blue .ion-ios-plus-empty,
.showcase-item-hover.hover-dark .ion-ios-plus-empty{
      display: none;
    }
  }
  @keyframes sk-bounce {
  0%{ 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 35% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
  75% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
  
</style>
<!-- Styles -->
<link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&amp;subset=cyrillic" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
<link href="css/style.css" rel="stylesheet" media="screen">
</head>
<body>
  
 
 <!-- Loader -->

    
<div class="loader">
  <div class="spinner">
    <div class="double-bounce1"></div>
    <div class="double-bounce2"></div>
  </div>
</div>

    <!-- Header -->

    <header class="navbar navbar-responsive">
      <div class="container">
        <a href="#" class="brand js-target-scroll">
          <img src="Logo/Logo.png" class="Logo">
        </a>

        <!-- Navigation Desctop -->

        <nav class="nav nav-desctop hidden-xs hidden-sm">
          <ul class="nav-desctop-list">
             <li><a href="#home">Home</a></li>
             <li><a href="#services">Services</a></li>
             <li><a href="#portfolio">Portfolio</a></li>
             <li><a href="#team">Team</a></li>
             <li><a href="#clients">Clients</a></li>
             <li><a href="#news">News</a></li>
          </ul>
        </nav>

        <!-- Navigation Mobile -->

        <button type="button" class="navbar-toggle collapsed  hidden-md hidden-lg" data-toggle="collapse" data-target="#nav-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <nav class="nav nav-mobile">
          <div class="collapse" id="nav-collapse"> 
            <ul class="nav-mobile-list">
               <li><a href="#home">Home</a></li>
               <li><a href="#services">Services</a></li>
               <li><a href="#portfolio">Portfolio</a></li>
               <li><a href="#team">Team</a></li>
               <li><a href="#clients">Clients</a></li>
               <li><a href="#news">News</a></li>
            </ul>
          </div>
        </nav> 
      </div>
    </header>
    
    <!-- Home -->
    
    <main class="main" id="home">
      
      <div class="arrow-left hidden-xs"></div>
      <div class="arrow-right hidden-xs"></div>

      <!-- Start revolution slider -->

      <div class="rev_slider_wrapper">
        <div id="rev_slider" class="rev_slider fullscreenbanner">
          <ul>

            <!-- Slide 1 -->

            <li  data-transition="incube-horizontal" data-masterspeed="1000" data-fsmasterspeed="1000">


              <!-- Main image-->

              <img src="img/slider/1.jpg"  alt="" data-bgposition="center center" data-bgrepeat="no-repeat" class="rev-slidebg" data-bgparallax="7">

              <!-- Layer 1 -->

              <div class="tp-caption tp-shape tp-shape-mask tp-shapewrapper" 
                data-x="center" data-hoffset="" 
                data-y="left" data-voffset="" 
                data-basealign="slide" 
                data-width="['14000']"
                data-height="['14000']"
                data-transform_idle="o:1;"
                data-transform_in="opacity:0;s:1000;s:1000s:1000;e:Power3.easeInOut;" 
                data-transform_out="opacity:0;s:1000;s:1000s:1000;e:Power3.easeInOut;"  
                data-start="0" 
                data-responsive_offset="on" style="background-color:rgba(10,10,10,0.5);"></div>

              <!-- Layer 2 -->

              <div class="slider-title tp-caption tp-resizeme" 
                data-x="['center']" data-hoffset="['0']"  
                data-y="['middle','middle','middle','middle']" 
                data-textAlign="['center']"
                data-voffset="['-100']"
                data-fontsize="['100','70','60','50']"
                data-lineheight="['150','95','85']"
                data-height="none"
                data-whitespace="nowrap"
                data-transform_idle="o:1;"
                data-transform_in="x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power2.easeInOut;" 
                data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                data-mask_in="x:50px;y:0px;s:inherit;e:inherit;" 
                data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                data-start="500" 
                data-splitin="chars" 
                data-splitout="none" 
                data-responsive_offset="on" 
                data-elementdelay="0.05" style="font-family: 'Playfair Display', serif; font-weight: 900;">First Glass<br>Doors & Windows

              </div>

              <!-- Layer 2 -->

              <div class="tp-caption tp-resizeme" 
                data-x="['center']"
                data-hoffset="['-300', '-250']"   
                data-y="['middle','middle','middle','middle']" 
                data-voffset="['210']"
                data-fontsize="['14']"
                data-height="none"
                data-whitespace="nowrap"
                data-transform_idle="o:1;"
                data-transform_in="x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1000;e:Power3.easeInOut;" 
                data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                data-mask_in="x:50px;y:0px;s:inherit;e:inherit;" 
                data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                data-start="2000" 
                data-splitin="none" 
                data-splitout="none" 
                data-responsive_offset="on" 
                data-elementdelay="0.05"><div class="object-meta"><!--<font style="padding-left:40px" class="Device-mobile"><i class="text-white ion-ios-location-outline"> Unit 4, 90 Queensbury Road Wembley HA0 1QG</font></i>--></div>
              </div>

              <!-- Layer 3 -->

              <div class="tp-caption tp-resizeme" 
                data-x="['center']" data-hoffset="['0']"  
                data-y="['middle','middle','middle','middle']" 
                data-voffset="['210']"
                data-fontsize="['14']"
                data-height="none"
                data-whitespace="nowrap"
                data-transform_idle="o:1;"
                data-transform_in="x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1000;e:Power3.easeInOut;" 
                data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                data-mask_in="x:50px;y:0px;s:inherit;e:inherit;" 
                data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                data-start="2500" 
                data-splitin="none" 
                data-splitout="none" 
                data-responsive_offset="on" 
                data-elementdelay="0.05"><div class="object-meta"><!--<i class="text-white ion-card"></i> 1 350 m2--></div>
              </div>

              <!-- Layer 4 -->

              <div class="tp-caption tp-resizeme" 
                data-x="['center']" 
                data-hoffset="['300', '250']" 
                data-y="['middle','middle','middle','middle']" 
                data-voffset="['210']"
                data-fontsize="['14']"
                data-height="none"
                data-whitespace="nowrap"
                data-transform_idle="o:1;"
                data-transform_in="x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1000;e:Power3.easeInOut;" 
                data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                data-mask_in="x:50px;y:0px;s:inherit;e:inherit;" 
                data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                data-start="3000" 
                data-splitin="none" 
                data-splitout="none" 
                data-responsive_offset="on" 
                data-elementdelay="0.05"><div class="object-meta"><!--<i class="text-white ion-android-expand"></i> $24,5 mio--></div>
              </div>

              <!-- Layer 5 -->

              <div class="tp-caption tp-resizeme" 
              data-x="left" 
              data-y="bottom" 
              data-hoffset="['40']" 
              data-voffset="['40']"
              data-fontsize="['13']"
              data-basealign="slide"
              data-transform_idle="o:1;"
              data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1000;e:Power3.easeInOut;" 
              data-transform_out="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1000;e:Power3.easeInOut;" 
              data-start="2000" 
              data-responsive_offset="on" style="font-family: 'Montserrat', sans-serif; letter-spacing: 0.480em; text-transform: uppercase;">
              <!--project #1-->
              </div>

              <!-- Layer 5 -->

              <div class="tp-caption tp-resizeme" 
              data-x="right" 
              data-y="bottom" 
              data-hoffset="['40']" 
              data-voffset="['40']"
              data-fontsize="['13']"
              data-basealign="slide"
              data-transform_idle="o:1;"
              data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1000;e:Power3.easeInOut;" 
              data-transform_out="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1000;e:Power3.easeInOut;" 
              data-start="2000" 
              data-responsive_offset="on" style="font-family: 'Montserrat', sans-serif; letter-spacing: 0.480em; text-transform: uppercase;">
              <!--2020-->
              </div>

          </li>

          <li  data-transition="incube-horizontal" data-masterspeed="1000" data-fsmasterspeed="1000">

              <!-- Main image-->

              <img src="img/slider/bi-fold.jpg"  alt="" data-bgposition="center center" data-bgrepeat="no-repeat" class="rev-slidebg" data-bgparallax="7">

              <!-- Layer 1 -->

              <div class="tp-caption tp-shape tp-shape-mask tp-shapewrapper" 
                data-x="center" data-hoffset="" 
                data-y="left" data-voffset="" 
                data-basealign="slide" 
                data-width="['14000']"
                data-height="['14000']"
                data-transform_idle="o:1;"
                data-transform_in="opacity:0;s:1000;s:1000s:1000;e:Power3.easeInOut;" 
                data-transform_out="opacity:0;s:1000;s:1000s:1000;e:Power3.easeInOut;"  
                data-start="0" 
                data-responsive_offset="on" style="background-color:rgba(10,10,10,0.5);"></div>

              <!-- Layer 2 -->

              <div class="slider-title tp-caption tp-resizeme" 
                data-x="['center']" data-hoffset="['0']"  
                data-y="['middle','middle','middle','middle']" 
                data-textAlign="['center']"
                data-voffset="['-100']"
                data-fontsize="['100','70','60','50']"                
                data-lineheight="['150','95','85']"
                data-height="none"
                data-whitespace="nowrap"
                data-transform_idle="o:1;"
                data-transform_in="x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power2.easeInOut;" 
                data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                data-mask_in="x:50px;y:0px;s:inherit;e:inherit;" 
                data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                data-start="500" 
                data-splitin="chars" 
                data-splitout="none" 
                data-responsive_offset="on" 
                data-elementdelay="0.05" style="font-family: 'Playfair Display', serif; font-weight: 900;">First Glass<br>Bi-folding Doors

              </div>

              <!-- Layer 2 -->

              <div class="tp-caption tp-resizeme" 
                data-x="['center']"
                data-hoffset="['-300', '-250']"  
                data-y="['middle','middle','middle','middle']" 
                data-voffset="['210']"
                data-fontsize="['14']"
                data-height="none"
                data-whitespace="nowrap"
                data-transform_idle="o:1;"
                data-transform_in="x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1000;e:Power3.easeInOut;" 
                data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                data-mask_in="x:50px;y:0px;s:inherit;e:inherit;" 
                data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                data-start="2000" 
                data-splitin="none" 
                data-splitout="none" 
                data-responsive_offset="on" 
                data-elementdelay="0.05"><div class="object-meta"><!--<font style="padding-left:40px" class="Device-mobile"><i class="text-white ion-ios-location-outline"> Unit 4, 90 Queensbury Road Wembley HA0 1QG</font></i>--></div>
              </div>

              <!-- Layer 3 -->

              <div class="tp-caption tp-resizeme" 
                data-x="['center']" data-hoffset="['0']"  
                data-y="['middle','middle','middle','middle']" 
                data-voffset="['210']"
                data-fontsize="['14']"
                data-height="none"
                data-whitespace="nowrap"
                data-transform_idle="o:1;"
                data-transform_in="x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1000;e:Power3.easeInOut;" 
                data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                data-mask_in="x:50px;y:0px;s:inherit;e:inherit;" 
                data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                data-start="2500" 
                data-splitin="none" 
                data-splitout="none" 
                data-responsive_offset="on" 
                data-elementdelay="0.05"><div class="object-meta"><!--<i class="text-white ion-card"></i> 1 350 m2--></div>
              </div>

              <!-- Layer 4 -->

              <div class="tp-caption tp-resizeme" 
                data-x="['center']" 
                data-hoffset="['300','250']"  
                data-y="['middle','middle','middle','middle']" 
                data-voffset="['210']"
                data-fontsize="['14']"
                data-height="none"
                data-whitespace="nowrap"
                data-transform_idle="o:1;"
                data-transform_in="x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1000;e:Power3.easeInOut;" 
                data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                data-mask_in="x:50px;y:0px;s:inherit;e:inherit;" 
                data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                data-start="3000" 
                data-splitin="none" 
                data-splitout="none" 
                data-responsive_offset="on" 
                data-elementdelay="0.05"><div class="object-meta"><!--<i class="text-white ion-android-expand"></i> $24,5 mio--></div>
              </div>

              <!-- Layer 5 -->

              <div class="tp-caption tp-resizeme" 
              data-x="left" 
              data-y="bottom" 
              data-hoffset="['40']" 
              data-voffset="['40']"
              data-fontsize="['13']"
              data-basealign="slide"
              data-transform_idle="o:1;"
              data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1000;e:Power3.easeInOut;" 
              data-transform_out="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1000;e:Power3.easeInOut;" 
              data-start="2000" 
              data-responsive_offset="on" style="font-family: 'Montserrat', sans-serif; letter-spacing: 0.480em; text-transform: uppercase;">
              <!--project #1-->
              </div>

              <!-- Layer 5 -->

              <div class="tp-caption tp-resizeme" 
              data-x="right" 
              data-y="bottom" 
              data-hoffset="['40']" 
              data-voffset="['40']"
              data-fontsize="['13']"
              data-basealign="slide"
              data-transform_idle="o:1;"
              data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1000;e:Power3.easeInOut;" 
              data-transform_out="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1000;e:Power3.easeInOut;" 
              data-start="2000" 
              data-responsive_offset="on" style="font-family: 'Montserrat', sans-serif; letter-spacing: 0.480em; text-transform: uppercase;">
              <!--2020-->
              </div>

          </li>

          <li  data-transition="incube-horizontal" data-masterspeed="1000" data-fsmasterspeed="1000">
                           <!-- Main image-->

              <img src="img/slider/3.jpg"  alt="" data-bgposition="center center" data-bgrepeat="no-repeat" class="rev-slidebg" data-bgparallax="7">

              <!-- Layer 1 -->

              <div class="tp-caption tp-shape tp-shape-mask tp-shapewrapper" 
                data-x="center" data-hoffset="" 
                data-y="left" data-voffset="" 
                data-basealign="slide" 
                data-width="['14000']"
                data-height="['14000']"
                data-transform_idle="o:1;"
                data-transform_in="opacity:0;s:1000;s:1000s:1000;e:Power3.easeInOut;" 
                data-transform_out="opacity:0;s:1000;s:1000s:1000;e:Power3.easeInOut;"  
                data-start="0" 
                data-responsive_offset="on" style="background-color:rgba(10,10,10,0.5);"></div>

              <!-- Layer 2 -->

              <div class="slider-title tp-caption tp-resizeme" 
                data-x="['center']" data-hoffset="['0']"  
                data-y="['middle','middle','middle','middle']" 
                data-textAlign="['center']"
                data-voffset="['-100']"
                data-fontsize="['100','70','60','50']"
                data-lineheight="['150','95','85']"
                data-height="none"
                data-whitespace="nowrap"
                data-transform_idle="o:1;"
                data-transform_in="x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power2.easeInOut;" 
                data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                data-mask_in="x:50px;y:0px;s:inherit;e:inherit;" 
                data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                data-start="500" 
                data-splitin="chars" 
                data-splitout="none" 
                data-responsive_offset="on" 
                data-elementdelay="0.05" style="font-family: 'Playfair Display', serif; font-weight: 900;">First Glass<br>Timber Windows

              </div>

              <!-- Layer 2 -->

              <div class="tp-caption tp-resizeme" 
                data-x="['center']"
                data-hoffset="['-300', '-250']"   
                data-y="['middle','middle','middle','middle']" 
                data-voffset="['210']"
                data-fontsize="['14']"
                data-height="none"
                data-whitespace="nowrap"
                data-transform_idle="o:1;"
                data-transform_in="x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1000;e:Power3.easeInOut;" 
                data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                data-mask_in="x:50px;y:0px;s:inherit;e:inherit;" 
                data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                data-start="2000" 
                data-splitin="none" 
                data-splitout="none" 
                data-responsive_offset="on" 
                data-elementdelay="0.05"><div class="object-meta"><!--<font style="padding-left:40px" class="Device-mobile"><i class="text-white ion-ios-location-outline"> Unit 4, 90 Queensbury Road Wembley HA0 1QG</font></i>--></div>
              </div>

              <!-- Layer 3 -->

              <div class="tp-caption tp-resizeme" 
                data-x="['center']" data-hoffset="['0']"  
                data-y="['middle','middle','middle','middle']" 
                data-voffset="['210']"
                data-fontsize="['14']"
                data-height="none"
                data-whitespace="nowrap"
                data-transform_idle="o:1;"
                data-transform_in="x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1000;e:Power3.easeInOut;" 
                data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                data-mask_in="x:50px;y:0px;s:inherit;e:inherit;" 
                data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                data-start="2500" 
                data-splitin="none" 
                data-splitout="none" 
                data-responsive_offset="on" 
                data-elementdelay="0.05"><div class="object-meta"><!--<i class="text-white ion-card"></i> 1 350 m2--></div>
              </div>

              <!-- Layer 4 -->

              <div class="tp-caption tp-resizeme" 
                data-x="['center']" 
                data-hoffset="['300', '250']" 
                data-y="['middle','middle','middle','middle']" 
                data-voffset="['210']"
                data-fontsize="['14']"
                data-height="none"
                data-whitespace="nowrap"
                data-transform_idle="o:1;"
                data-transform_in="x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1000;e:Power3.easeInOut;" 
                data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                data-mask_in="x:50px;y:0px;s:inherit;e:inherit;" 
                data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                data-start="3000" 
                data-splitin="none" 
                data-splitout="none" 
                data-responsive_offset="on" 
                data-elementdelay="0.05"><div class="object-meta"><!--<i class="text-white ion-android-expand"></i> $24,5 mio--></div>
              </div>

              <!-- Layer 5 -->

              <div class="tp-caption tp-resizeme" 
              data-x="left" 
              data-y="bottom" 
              data-hoffset="['40']" 
              data-voffset="['40']"
              data-fontsize="['13']"
              data-basealign="slide"
              data-transform_idle="o:1;"
              data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1000;e:Power3.easeInOut;" 
              data-transform_out="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1000;e:Power3.easeInOut;" 
              data-start="2000" 
              data-responsive_offset="on" style="font-family: 'Montserrat', sans-serif; letter-spacing: 0.480em; text-transform: uppercase;">
              <!--project #1-->
              </div>

              <!-- Layer 5 -->

              <div class="tp-caption tp-resizeme" 
              data-x="right" 
              data-y="bottom" 
              data-hoffset="['40']" 
              data-voffset="['40']"
              data-fontsize="['13']"
              data-basealign="slide"
              data-transform_idle="o:1;"
              data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1000;e:Power3.easeInOut;" 
              data-transform_out="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1000;e:Power3.easeInOut;" 
              data-start="2000" 
              data-responsive_offset="on" style="font-family: 'Montserrat', sans-serif; letter-spacing: 0.480em; text-transform: uppercase;">
              <!--2020-->
              </div>


          </li>
          </ul>
        </div>
      </div>

      <div class="mouse-helper">
        <span><i class="text-white ion-ios-location-outline"> Unit 4, 90 Queensbury Road Wembley HA0 1QG</i></span>
        
      </div>
    </main>

    <div class="content"> 

      <!-- Features -->

      <section id="services" class="features bg-dark section">
        <div class="container">
          <div class="row-base row">
            <div class="col-base col-feature col-sm-6 col-md-4 wow fadeInUp">
             <div class="media-left"><img src="Logo/Residential.png" style="height: 80px;width: 50px;padding-top: 34px;"></div> 
              <div class="media-right">
                
                <h4 class="text-white">Residential Projects</h4>
                <p>Residential projects are an important part of our business, whether you need a new or replacement window, a whole house or an extension. We have a wide selection of products available that are both aesthetically appealing and will also save you money on your energy bills.
 
                  We can provide you with just the windows, or arrange a complete supply and installation service for you.</p>
              </div>
            </div>
            <div class="col-base col-feature col-sm-6 col-md-4 wow fadeInUp" data-wow-delay="0.2s">
              <div class="media-left"><img src="Logo/Commercial1.png" style="height: 80px;width: 50px;padding-top: 34px;"></div>
              <div class="media-right">
                <h4 class="text-white">Commercial Projects</h4>
                <p>First Glass Windows undertake commercial projects and we can handle any project from changing only a window or a door to large multi storey buildings.
                  <br>
                  We supply and install the following 
                  <br>
                  •Commercial Aluminium
                  <br>
                  •Windows and doors
                  <br>
                  •Shop fronts
                  <br>
                  •Curtain Walling</p>
              </div>
            </div>
            <div class="clearfix visible-sm"></div>
            <div class="col-base col-feature col-sm-6 col-md-4 wow fadeInUp" data-wow-delay="0.4s">
              <div class="media-left"><img src="Logo/Repair.png" style="height: 80px;width: 50px;padding-top: 34px;"></div>
              
              <div class="media-right">
                <h4 class="text-white">Repair Service</h4>
                <p>First Glass Windows offer a fast and reliable repair service for faulty windows and doors.                  
                  <br>
                  We supply and fit all types of                   
                  <br>•Hinges<br>•Handle (all key locking)<br>•Mechanism<br>•Key locking barrels<br>•Window sealed units<br>Above are only a few of the services and repairs First Glass Windows can carry out.</p>
              </div>
            </div>
          </div>
        </div>
      </section>


      <!-- Portfolio -->
      <h4><center>Bi-folding Doors</center></h4>
      <section id="portfolio" class="porftolio">
        <div class="isotope js-gallery">
          <div class="isotope-item livingroom">
            <a href="Portfolio/637-960/3.jpg" title="Bi-folding Doors">
              <figure class="showcase-item">
                <div class="showcase-item-thumbnail"><img alt="" src="Portfolio/637-960/bifold_4.jpeg"></div>
                <figcaption class="showcase-item-hover hover-dark">
                  <div class="showcase-item-info">
                    <div class="showcase-item-category">Bi-folding Doors</div>
                    <div class="showcase-item-title">Branding</div>
                    <i class="ion-ios-plus-empty"></i>
                  </div>
                </figcaption>
              </figure>
            </a>
          </div>  
          <div class="isotope-item kitchen">
            <a href="Portfolio/637 x 480/1 copy.jpg" title="Bi-folding Doors">
              <figure class="showcase-item">
                <div class="showcase-item-thumbnail"><img alt="" src="Portfolio/637 x 480/bifold_2.jpg"></div>
                <figcaption class="showcase-item-hover hover-dark">
                  <div class="showcase-item-info">
                    <div class="showcase-item-category">Bi-folding Doors</div>
                    <div class="showcase-item-title">Branding</div>
                    <i class="ion-ios-plus-empty"></i>
                  </div>
                </figcaption>
              </figure>
            </a>
          </div>
          <div class="isotope-item terrace">
            <a href="Portfolio/637 x 480/5.jpg" title="Bi-folding Doors">
              <figure class="showcase-item">
                <div class="showcase-item-thumbnail"><img alt="" src="Portfolio/637 x 480/bifold_1.jpg"></div>
                <figcaption class="showcase-item-hover hover-dark">
                  <div class="showcase-item-info">
                    <div class="showcase-item-category">Bi-folding Doors</div>
                    <div class="showcase-item-title">Branding</div>
                    <i class="ion-ios-plus-empty"></i>
                  </div>
                </figcaption>
              </figure>
            </a>
          </div> 
          <div class="isotope-item w66 bedroom">
            <a href="Portfolio/1275-481/3.jpg" title="Bi-folding Doors">
              <figure class="showcase-item">
                <div class="showcase-item-thumbnail"><img alt="" src="Portfolio/1275-481/bifold_3.jpg"></div>
                <figcaption class="showcase-item-hover hover-dark">
                  <div class="showcase-item-info">
                    <div class="showcase-item-category">Bi-folding Doors</div>
                    <div class="showcase-item-title">Branding</div>
                    <i class="ion-ios-plus-empty"></i>
                  </div>
                </figcaption>
              </figure>
            </a>
          </div> 
        </div>
      </section>

     <h4><center> Doors and Windows</center></h4>
      
      <section id="portfolio" class="porftolio">
        <div class="isotope js-gallery">
          <div class="isotope-item livingroom">
            <a href="Portfolio/637-960/2.jpg" title="Doors and Windows">
              <figure class="showcase-item">
                <div class="showcase-item-thumbnail"><img alt="" src="Portfolio/637-960/window_4.jpg"></div>
                <figcaption class="showcase-item-hover hover-dark">
                  <div class="showcase-item-info">
                    <div class="showcase-item-category">Doors and Windows</div>
                    <div class="showcase-item-title">Branding</div>
                    <i class="ion-ios-plus-empty"></i>
                  </div>
                </figcaption>
              </figure>
            </a>
          </div>  
          <div class="isotope-item kitchen">
            <a href="Portfolio/637 x 480/3.jpg" title="Doors and Windows">
              <figure class="showcase-item">
                <div class="showcase-item-thumbnail"><img alt="" src="Portfolio/637 x 480/window_1.jpg"></div>
                <figcaption class="showcase-item-hover hover-dark">
                  <div class="showcase-item-info">
                    <div class="showcase-item-category">Doors and Windows</div>
                    <div class="showcase-item-title">Branding</div>
                    <i class="ion-ios-plus-empty"></i>
                  </div>
                </figcaption>
              </figure>
            </a>
          </div>
          <div class="isotope-item terrace">
            <a href="Portfolio/637 x 480/4.jpg" title="Doors and Windows">
              <figure class="showcase-item">
                <div class="showcase-item-thumbnail"><img alt="" src="Portfolio/637 x 480/window_2.jpg"></div>
                <figcaption class="showcase-item-hover hover-dark">
                  <div class="showcase-item-info">
                    <div class="showcase-item-category">Doors and Windows</div>
                    <div class="showcase-item-title">Branding</div>
                    <i class="ion-ios-plus-empty"></i>
                  </div>
                </figcaption>
              </figure>
            </a>
          </div> 
          <div class="isotope-item w66 bedroom">
            <a href="Portfolio/1275-481/2.jpg" title="Doors and Windows">
              <figure class="showcase-item">
                <div class="showcase-item-thumbnail"><img alt="" src="Portfolio/1275-481/window_3.jpg"></div>
                <figcaption class="showcase-item-hover hover-dark">
                  <div class="showcase-item-info">
                    <div class="showcase-item-category">Doors and Windows</div>
                    <div class="showcase-item-title">Branding</div>
                    <i class="ion-ios-plus-empty"></i>
                  </div>
                </figcaption>
              </figure>
            </a>
          </div> 
        </div>
      </section>
    <h4><center>Timber Windows</center></h4>
      
      <section id="portfolio" class="porftolio">
        <div class="isotope js-gallery">
          <div class="isotope-item livingroom">
            <a href="Portfolio/637-960/1.jpg" title="Timber Windows">
              <figure class="showcase-item">
                <div class="showcase-item-thumbnail"><img alt="" src="Portfolio/637-960/timber_4.jpg"></div>
                <figcaption class="showcase-item-hover hover-dark">
                  <div class="showcase-item-info">
                    <div class="showcase-item-category">Timber Windows</div>
                    <div class="showcase-item-title">Branding</div>
                    <i class="ion-ios-plus-empty"></i>
                  </div>
                </figcaption>
              </figure>
            </a>
          </div>  
          <div class="isotope-item kitchen">
            <a href="Portfolio/637 x 480/2.jpg" title="Timber Windows">
              <figure class="showcase-item">
                <div class="showcase-item-thumbnail"><img alt="" src="Portfolio/637 x 480/timber_1.jpg"></div>
                <figcaption class="showcase-item-hover hover-dark">
                  <div class="showcase-item-info">
                    <div class="showcase-item-category">Timber Windows</div>
                    <div class="showcase-item-title">Branding</div>
                    <i class="ion-ios-plus-empty"></i>
                  </div>
                </figcaption>
              </figure>
            </a>
          </div>
          <div class="isotope-item terrace">
            <a href="Portfolio/637 x 480/6.jpg" title="Timber Windows">
              <figure class="showcase-item">
                <div class="showcase-item-thumbnail"><img alt="" src="Portfolio/637 x 480/timber_2.jpg"></div>
                <figcaption class="showcase-item-hover hover-dark">
                  <div class="showcase-item-info">
                    <div class="showcase-item-category">Timber Windows</div>
                    <div class="showcase-item-title">Branding</div>
                    <i class="ion-ios-plus-empty"></i>
                  </div>
                </figcaption>
              </figure>
            </a>
          </div> 
          <div class="isotope-item w66 bedroom">
            <a href="Portfolio/1275-481/1 copy.jpg" title="Timber Windows">
              <figure class="showcase-item">
                <div class="showcase-item-thumbnail"><img alt="" src="Portfolio/1275-481/timber_3.jpg"></div>
                <figcaption class="showcase-item-hover hover-dark">
                  <div class="showcase-item-info">
                    <div class="showcase-item-category">Timber Windows</div>
                    <div class="showcase-item-title">Branding</div>
                    <i class="ion-ios-plus-empty"></i>
                  </div>
                </figcaption>
              </figure>
            </a>
          </div> 
        </div>
      </section> 
      <!-- Team -->

      <!-- <section id="team" class="team section pb-0">
        <div class="container">
          <div class="row">
            <header class="text-center col-md-8 col-md-offset-2">
              <h2 class="section-title">Our magic team.</h2>
              <p class="section-lead">Our team of experts has competences of different<br>
              branches and specializations.</p>
            </header>
          </div>
        </div>
        <div class="section-content">
          <div class="clearfix">
            <div class="col-team col-sm-6 col-lg-3">
              <figure class="team-profile">
                <img alt="" src="img/team/5-480x580.jpg">
                <figcaption class="team-caption white">
                   <div class="team-meta">
                     <strong class="team-name">Jack Wilshere</strong>
                     <span class="team-spec">CEO / Founder</span>
                   </div>
                   <ul class="team-social social-list">
                    <li><a href="" class="fa fa-facebook"></a></li>
                    <li><a href="" class="fa fa-twitter"></a></li>
                    <li><a href="" class="fa fa-linkedin"></a></li>
                    <li><a href="" class="fa fa-instagram"></a></li>
                  </ul>
                </figcaption>
              </figure>
            </div>
            <div class="col-team col-sm-6 col-lg-3">
              <figure class="team-profile">
                <img alt="" src="img/team/6-480x580.jpg">
                <figcaption class="team-caption white">
                   <div class="team-meta">
                     <strong class="team-name">Jack Wilshere</strong>
                     <span class="team-spec">CEO / Founder</span>
                   </div>
                   <ul class="team-social social-list">
                    <li><a href="" class="fa fa-facebook"></a></li>
                    <li><a href="" class="fa fa-twitter"></a></li>
                    <li><a href="" class="fa fa-linkedin"></a></li>
                    <li><a href="" class="fa fa-instagram"></a></li>
                  </ul>
                </figcaption>
              </figure>
            </div>
            <div class="col-team col-sm-6 col-lg-3">
              <figure class="team-profile">
                <img alt="" src="img/team/7-480x580.jpg">
                <figcaption class="team-caption white">
                   <div class="team-meta">
                     <strong class="team-name">Jack Wilshere</strong>
                     <span class="team-spec">CEO / Founder</span>
                   </div>
                   <ul class="team-social social-list">
                    <li><a href="" class="fa fa-facebook"></a></li>
                    <li><a href="" class="fa fa-twitter"></a></li>
                    <li><a href="" class="fa fa-linkedin"></a></li>
                    <li><a href="" class="fa fa-instagram"></a></li>
                  </ul>
                </figcaption>
              </figure>
            </div>
            <div class="col-team col-sm-6 col-lg-3">
              <figure class="team-profile">
                <img alt="" src="img/team/8-480x580.jpg">
                <figcaption class="team-caption white">
                   <div class="team-meta">
                     <strong class="team-name">Jack Wilshere</strong>
                     <span class="team-spec">CEO / Founder</span>
                   </div>
                   <ul class="team-social social-list">
                    <li><a href="" class="fa fa-facebook"></a></li>
                    <li><a href="" class="fa fa-twitter"></a></li>
                    <li><a href="" class="fa fa-linkedin"></a></li>
                    <li><a href="" class="fa fa-instagram"></a></li>
                  </ul>
                </figcaption>
              </figure>
            </div>
          </div>
        </div>
      </section> -->

      <!-- Clients -->

      <section id="clients" class="clients section">
        <div class="container">
            <div class="row">
              <header class="text-center col-md-8 col-md-offset-2">
              <h2 class="section-title">Clients Review</h2>
              <!-- <p class="section-lead">Our Past project valuable review.</p> -->
              </header>
            </div>
          </div>
          <div class="section-content">
            <div class="container-fluid">
              <div class="col-md-6 col-md-offset-3">
                <div class="clients-wrapper">
                  <div class="client-carousel js-client-carousel">
                    <div class="client">
                      <span class="quote">"</span>
                      <p class="client-text">
                         Great customer service start to finish, and a really quick turnaround of requesting and receiving the design for the doors and window. We had bifold doors and sliding windows for our kitchen extension. Really happy with the installation and the finished door and windows, great quality. Would definitely recommend.</p>
                      <span class="h5 client-name">Robert kirk — </span>
                      <i>Central London</i>
                    </div>
                    <div class="client">
                      <span class="quote">"</span>
                      <p class="client-text">
                        Do you want to be even more successful? 
                        Learn to love learning and growth. The more effort you put into improving your skills, 
                        the bigger the payoff you will get. Realize that things will be hard at first</p>
                      <span class="h5 client-name">Calum Chambers   —   </span>
                      <i>Adobe sales manager</i>
                    </div>
                    <div class="client">
                      <span class="quote">"</span>
                      <p class="client-text">
                        Do you want to be even more successful? 
                        Learn to love learning and growth. The more effort you put into improving your skills, 
                        the bigger the payoff you will get. Realize that things will be hard at first</p>
                      <span class="h5 client-name">Calum Chambers   —   </span>
                      <i>Adobe sales manager</i>
                    </div>
                    <div class="client">
                      <span class="quote">"</span>
                      <p class="client-text">
                        Do you want to be even more successful? 
                        Learn to love learning and growth. The more effort you put into improving your skills, 
                        the bigger the payoff you will get. Realize that things will be hard at first</p>
                      <span class="h5 client-name">Calum Chambers   —   </span>
                      <i>Adobe sales manager</i>
                    </div>
                    <div class="client">
                      <span class="quote">"</span>
                      <p class="client-text">
                        Do you want to be even more successful? 
                        Learn to love learning and growth. The more effort you put into improving your skills, 
                        the bigger the payoff you will get. Realize that things will be hard at first</p>
                      <span class="h5 client-name">Calum Chambers   —   </span>
                      <i>Adobe sales manager</i>
                    </div>
                    <div class="client">
                      <span class="quote">"</span>
                      <p class="client-text">
                        Do you want to be even more successful? 
                        Learn to love learning and growth. The more effort you put into improving your skills, 
                        the bigger the payoff you will get. Realize that things will be hard at first</p>
                      <span class="h5 client-name">Calum Chambers   —   </span>
                      <i>Adobe sales manager</i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </section>
    
      
      <!-- Partners -->

      <section class="partners section-sm bg-black">
        <div class="container">
          <div class="js-partners-carousel">
            <div class="partner" style="opacity:1;">
              <img alt="" src="img/partners/1.png">
            </div>
            <div class="partner" style="opacity:1;">
              <img alt="" src="img/partners/2.png">
            </div>
            <div class="partner" style="opacity:1;">
              <img alt="" src="img/partners/3.png">
            </div>
            <div class="partner" style="opacity:1;">
              <img alt="" src="img/partners/4.png">
            </div>
            <div class="partner" style="opacity:1;">
              <img alt="" src="img/partners/5.png">
            </div>
          </div>
        </div>
      </section>

      <!-- news -->

      <section id="news" class="news section">
        <div class="container">
          <div class="row">
            <header class="text-center col-md-8 col-md-offset-2">
            <h2 class="section-title">Latest News</h2>
            </header>
          </div>
        </div>
        <div class="section-content">
          <div class="container">
            <div class="row row-news">
              <div class="col-news col-md-4" data-name="p-1">
                 <div class="col-news-wrapper">
                    <img alt="" src="Portfolio/370 x 370/3.jpg">
                    <div class="col-news-content">
                       <span class="col-news-date">
                          dec 13th, 2022
                       </span>
                       <h4 class="col-news-title">December 2022 Customer Satisfaction Report 100%!</h4>
                       <p>The following report is a true and accurate reflection of questionnaire responses</p>
                       <div class="read-more-cont">
                       </div>
                       <a href="#">Read more</a>
                    </div>
                 </div>
              </div>

              <div class="col-news col-md-4" data-name="p-2">
                 <div class="col-news-wrapper">
                    <img alt="" src="Portfolio/370 x 370/1 copy.jpg">
                    <div class="col-news-content" >
                       <span class="col-news-date">
                          June 17th, 2021
                       </span>
                       <h4 class="col-news-title">June 2021 Customer Satisfaction Report 100%!</h4>
                       <p>The following report is a true and accurate reflection of questionnaire responses</p>
                       <a href="#">Read more</a>
                    </div>
                 </div>
              </div>
              <div class="col-news col-md-4" data-name="p-3">
                 <div class="col-news-wrapper">
                    <img alt="" src="Portfolio/370 x 370/2.jpg">
                    <div class="col-news-content">
                       <span class="col-news-date">
                          dec 14th, 2020
                       </span>
                       <h4 class="col-news-title">December 2020 Customer Satisfaction Report 100%!</h4>
                       <p>The following report is a true and accurate reflection of questionnaire responses</p>
                       <a href="#">Read more</a>
                    </div>
                 </div>
              </div>
            </div> 
          </div>
        </div>  
      </section>
      
      <!-- Banner -->

      <section class="promo section">
        <div class="container">
          <h2 class="promo-title text-white">Contact us today to arrange a free no obligation site visit and a quotation</h2>
          <a href="#request" data-toggle="modal" class="btn btn-dark wow swing">Let's talk</a>
        </div>
      </section>


      <!-- Footer -->

      <footer id="footer" class="footer">     
        <div class="container">
          <div class="row-base row">
            <div class="brand-info col-base col-sm-6 col-md-4">
              <a href="#top" class="brand js-target-scroll">
                <img src="Logo/Logo.png" style="height: 80px; width: 160px;">
              </a>
              <p>We supply, install and repair windows and doors for our commercial and residential customers.</p>
            </div>

            <div class="col-contacts col-base col-sm-6 col-md-4 col-md-offset-1">
              <a href="tel:02036647961" class="phone">020 8090 3048</a><br>
              <a href="mailto:mail@fgwltd.com" class="email">mail@fgwltd.com</a>
            </div>
            <div class="col-subscribe col-base col-sm-6 col-md-3">
              <div class="subscribe-title">Subscribe to our newsletter</div>
              <form class="subscribe-form js-subscribe-form">
                <div class="input-group">
                  <input id="mc-email" type="email" class="input-round form-control" placeholder="Email" style="color: black;">
                  <span class="input-group-btn">
                    <button class="btn btn-dark" type="submit"><span class="arrow-right"></span></button>
                  </span>
                </div>
                <label class="mc-label" for="mc-email" id="mc-notification"></label>
              </form>
            </div>
          </div>
        </div>
        <div class="footer-bottom">
          <div class="container">
              <div class="copyrights">
              ©Copyright 2023 FGW LTD. Developed By <a href="https://www.thedigibrain.co.uk">DigiBrain</a> with <i class="promo-title text-white">&hearts;</i>   
              </div>
              <ul class="social-list">
                 <i><a href="https://www.thedigibrain.co.uk">Terms & Conditions</a></i>
              </ul>  
          </div>
        </div>
      </footer>
    </div>

    <!-- Modals -->

  <div id="request" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <span class="close" data-dismiss="modal" aria-label="Close">&times;</span>
            <h2 class="modal-title">Get start</h2>
            <p class="modal-info">Leave your contacts and our managers<br> will contact you soon.</p>
          </div>
          <div class="modal-body">
            <form class="form-request js-ajax-form">
              <div class="form-group">
                  <input type="text" name="name" placeholder="Name">
              </div>
               <div class="form-group">
                  <input type="email" name="email" required placeholder="Email *">
                </div>
                 <div class="form-group">
                  <input type="phone" id="phone_no" name="phone" required placeholder="phone *">
                </div>
              <div class="form-group">
                  <textarea rows="3" id="Text" name="message" placeholder="Message"></textarea>
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-dark btn-block" onclick="sendEMail(); return false">Get start</button>
              </div>
            </form>
          <!--  <script src="https://smtpjs.com/v3/smtp.js"></script>
            <script>
              function sendEmail(){
                 var link = "jalpesh1012@gmail.com"
             + ""
             + "&subject=" + encodeURIComponent("This is my subject")
             + "&body=" + encodeURIComponent(document.getElementById('Text').value + "  \n " +document.getElementById('phone_no').value);
    
    window.location.href = link;
              }
            </script> -->
          </div>
        </div>
    </div>
  </div>

  <!-- Modals success -->

  <div id="success" class="modal modal-message fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <span class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></span>
            <h2 class="modal-title">Thank you</h2>
            <p class="modal-subtitle">Your message is successfully sent...</p>
          </div>
        </div>
    </div>
  </div>

  <!-- Modals error -->

  <div id="error" class="modal modal-message fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <span class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></span>
             <h2 class="modal-title">Sorry</h2>
            <p class="modal-subtitle"> Something went wrong </p>
          </div>
        </div>
    </div>
  </div>

<!-- SCRIPTS -->

<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.validate.min.js"></script>
<script src="js/jquery.ajaxchimp.min.js"></script>
<script src="js/jquery.magnific-popup.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/isotope.pkgd.min.js"></script>
<script src="js/imagesloaded.pkgd.js"></script>

<!-- SLIDER REVOLUTION -->
<script src="js/rev-slider/jquery.themepunch.tools.min.js"></script>
<script src="js/rev-slider/jquery.themepunch.revolution.min.js"></script>

<!-- SLIDER REVOLUTION 5x EXTENSIONS   -->
<script src="js/rev-slider/revolution.extension.actions.min.js"></script>
<script src="js/rev-slider/revolution.extension.carousel.min.js"></script>
<script src="js/rev-slider/revolution.extension.kenburn.min.js"></script>
<script src="js/rev-slider/revolution.extension.layeranimation.min.js"></script>
<script src="js/rev-slider/revolution.extension.migration.min.js"></script>
<script src="js/rev-slider/revolution.extension.navigation.min.js"></script>
<script src="js/rev-slider/revolution.extension.parallax.min.js"></script>
<script src="js/rev-slider/revolution.extension.slideanims.min.js"></script>
<script src="js/rev-slider/revolution.extension.video.min.js"></script>
<script src="js/rev-slider-init.js"></script>
<script src="js/interface.js"></script> 
</body>
</html>